/* base styles */

:root {
  --colour-green: #07cc81;
}

body {
  background: #f2f2f2;
  text-align: center;
  font-size: 1.4em;
  font-family: Verdana;
}
form {
  background: white;
  margin: 200px auto;
  padding: 20px;
  border-radius: 10px;
  display: inline-block;
}
form .field {
  display: flex;
  align-items: center;
}
form input {
  margin: 0 16px;
  font-size: 0.8em;
  border: 2px solid #777;
  border-radius: 4px;
  padding: 4px;
}

/* solution styles */
.tick {
  color: var(--colour-green);
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.5s ease-in;
}

.valid .tick {
  opacity: 1;
  transform: translateY(0);
}

form .valid input {
  border-color: var(--colour-green);
  outline: var(--colour-green);
}
